

.square {
    background-color: #000000;
    border: solid #FFFFFF;
    height: 2em;
    width: 2em;
    text-align: center;
    margin: -1px -1px 0px 0px;
    float: left;
}

.board-line {
    clear: both;
    content: "";
    display: table;
}

.box {
    min-width: 20em;
    margin: 10em;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.sliderBox {
    width: 50%;
    min-width: 20em;
}

.historyList {
    width: 10em;
    height: 3em;
    padding: 1em
}

.center_mid {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    margin-top: 1em
}

.library {
    margin: 5em;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
}

.book {
    height: 20em;
    width: 40%;
    min-width: 20em;
    margin: 2em;
}

